<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Signups</title>
    </head>
    <body>
        <h1>All the signups</h1>
        <ul>
            <li th:each="signup : ${signups}">
                <span th:utext="${signup.name}"></span>
                <span th:utext="${signup.address}"></span>
            </li>
        </ul>
        <form th:action="@{/signups/delete}" method="GET">
            <input type="submit" title="Delete all"/>
        </form>
    </body>
</html>
